{% extends 'MyUiBundle::layout.html.twig' %}

{% block content %}

{% render url('navigation') %}

{% for category in categories %}
    <p>{{ category.code }} {{ category.name }}</p>
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/myui/app.js') }}"></script>
{% endblock %}
