/***** CONTENT *****/
#content								{}

/***** Links *****/
a.linkTorrent, a.linkTorrent:visited			{color:#222; text-decoration:none;}
a.linkTorrent:hover, a.linkTorrent:focus		{color:#000; text-decoration:underline;}

/***** Torrents actions *****/
.torrentActions							{margin:4px; display:none;}
.torrentActions dt						{float:left; font-size:12px; color:#777; line-height:1.6em;}
.torrentActions dd						{float:left; padding:0 6px;}
.torrentActions .q						{font-weight:bold; font-style:italic;}
.torrentActions .similar				{clear:left;}


.table									{width:100%;}
.table th								{font-weight:bold; font-size:16px; text-align:left;}
.table th, .table td					{padding:4px 10px;}
.table td								{font-size:14px;}
.table tr:hover td						{background:#ddd;}


.clear									{clear:both;}
.green									{color:green;}
.red									{color:red;}
.blue									{color:blue;}
.bold									{font-weight:bold;}
.larger									{font-size:larger;}
.lighter								{color:#999; font-size:12px;}

input[type=text]						{width:300px;}

.title									{font-size:18px; font-weight:bold; padding:20px 30px 30px;}

/***** Status *****/
#status									{font-size:12px; color:#666; padding:5px 30px;}

/***** Boxes *****/
.box									{display:block; float:left; margin:0 1% 30px; overflow:hidden; background:#eee; border:1px solid #ddd; border-radius:0.5em; box-shadow:1px 1px 3px #999;}
.box > .box								{box-shadow:none; border:1px solid #ccc; background:#e7e7e7;}
.box .title								{font-size:16px; padding:5px 15px 15px; font-weight:bold;}
.box ul									{margin:0 15px;}
.box li									{line-height:1.2em; padding:2px 0 8px; font-size:14px;}
/* full */
.boxFull								{width:98%;}
/* third */
.boxThird								{width:31%;}

