@charset "UTF-8";

dl {
	float: left;
	box-sizing: border-box;
	width: 32%;
	margin: 0.4em 1% 0 0;
	&:nth-child(3n+2) {
		clear: both;
	}
    border: 1px solid #fff;
    &:hover {
        border: 1px solid #999;
    }

	dt {
		font-size: 0.8em;
	}
	dd {
		font-size: 0.8em;
	}
}

.list {
	font-size: 0.8em;
}
