php_flag xdebug.profiler_enable 1
#php_value xdebug.profiler_enable_trigger 1
#xdebug.profiler_output_name = "callgrind.out.%t-%s"
php_value xdebug.profiler_output_dir "C:\Program Files (x86)\Zend\ZendServer\tmp\xdebug-profiler"


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

